[class*='col-'] {
    float: left;
  }
  [class*='col-']:last-of-type {
    padding-right: 0;
  }
  a {
    text-decoration: none;
  }
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  h3 {
    text-align: center;
    margin-bottom: 0;
  }
  h4 {
    position: relative;
  }
  .grid {
    margin: 0;
  }
  .module {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color: rgb(200, 146, 224);
    border-radius: 2px;
  }
  .module:hover {
    background-color: #eee;
    cursor: pointer;
    color: #607d8b;
  }
  
  h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 25px;
  }

  div {
    font-family: Arial, Helvetica, sans-serif;
  }

  .dashboard-cell {
    display: block;
    margin: 20px;
    flex-grow: 1;
    width: 20%;
    min-width: 200px;
  }

  .dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding: 20px 0;
} 